header{
    background-color: rgb(255, 255, 255); /* cor de fundo*/
    max-width: 1000px; /*largura máxima permitida- RESPONSIVO*/
    margin: auto; /*centraliza*/
    height: 300px;
}


div#capa{
    
    width: 100%; /* faz a div ocupar 100% da largura da header*/
    height: 400px; /* altura da capa*/
    background-image: url('capa.jpg.webp'); /*coloca uma imagem de fundo na div*/
    background-size: cover; /*ajusta o tamanho da imagem*/
    background-repeat: no-repeat; /*não repetir a imagem*/
    background-position: 0px  -150px; /*posiciona a imagem no meio da div*/
    color: black; /*define a cor da fonte*/
    font-family: Arial, Helvetica, sans-serif ; /* muda a fonte*/
    
    

}

img.sociais{
    width: 40px; /* define a largura da imagens*/
    filter: invert(0.5) opacity(.7) drop-shadow(0px 0px 0px purple);/* aplica filtros na imagem*/
    
}

img.sociais:hover{

    filter: invert(1) opacity(1) 
    
}
}