header{
    background-color: rgb(255, 255, 255); /* cor de fundo*/
    max-width: 1000px; /*largura máxima permitida- RESPONSIVO*/
    margin: auto; /*centraliza*/
    height: 300px;
}


div#capa{
    background-color:rgba(171, 126, 201, 0.712); /*cor de fundo*/
    width: 100%; /* faz a div ocupar 100% da largura da header*/
    height: 400px; /* altura da capa*/
    background-image: url('capa.jpg.webp'); /*coloca uma imagem de fundo na div*/
    background-size: cover; /*ajusta o tamanho da imagem*/
    background-repeat: no-repeat; /*não repetir a imagem*/
    background-position: 0px  -150px; /*posiciona a imagem no meio da div*/
    color: black; /*define a cor da fonte*/
    font-family: Arial, Helvetica, sans-serif ; /* muda a fonte*/
    
    

}